
.pagecontact {
    background: url(contactimg/contactbg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    top: -120px;
    padding: 100px 165px;
}
.contact__body { 
    height: 956px;
}
.contact__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #262626;
    width: 350px;
    margin: 0 auto;
}
.contact__text h3 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 0px;
    margin: 0;
}
.contact__text p{
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}
.contact__row {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.contact__row__form {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.contact__row__form input{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    height: 50px;
    margin: 15px;
    background-color: rgb(0, 196, 196, 0.5);
    padding-left: 20px;
    border: none;
}
.contact__row__form input:focus{
    background-color: rgb(0, 196, 196,1);
    border-left: 6px solid #355B82;
    outline: none;
}
.contact__row__form textarea{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    height: 250px;
    margin: 15px;
    background-color: rgb(0, 196, 196, 0.5);
    padding: 20px;
    border: none;
}
.contact__row__form textarea:focus{
    background-color: rgb(0, 196, 196,1);
    border-left: 6px solid #355B82;
    outline: none;
}
.contact__row__form textarea::placeholder{
    color: white;
}
.contact__row__form input::placeholder{
    color: white;
}
.contact__row__address {
    padding-top: 15px;
    width: 33%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}
.contact__row__address h4 {
    font-weight: 700;
    margin: 0;
}
.contact__row__address p{
    margin: 5px;
}
.footer {
    background-color: #262626;
    height: 90px;
    position: relative;
    top: -170px;
}
.footer__body {
    padding: 25px 165px 0 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    color: #B9B9B9;
    font-family: 'Raleway', sans-serif;
}
.footer__body h4 {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    font-weight: 300;
    margin: 0 0;
}
.footer__body p span {
    font-weight: 700;
    color: red;
}